<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067060740134-hpbcdagv42at9s5uk2jsmemrcinb4fni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067060740134-hpbcdagv42at9s5uk2jsmemrcinb4fni</string>
	<key>API_KEY</key>
	<string>AIzaSyApUys_qZQ5BLbkhe9IEIcdIz5vuwkk2kU</string>
	<key>GCM_SENDER_ID</key>
	<string>1067060740134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>storeground24.StoreGround24</string>
	<key>PROJECT_ID</key>
	<string>storegroundlogin</string>
	<key>STORAGE_BUCKET</key>
	<string>storegroundlogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067060740134:ios:a2dea5c81e11b8a31a66e7</string>
</dict>
</plist>